[F1 Race Tower]
; Gaps begin after each driver's first completed lap.
; Timing: 30 points, publish every 3 points, average the last 6.
PositionChangeTime = 1000

[At The Line]
atlNoFastestLap = 1          ; don't show "Fastest Lap by...." if active
atlSplit1Color = 135         ; taken from gp2's color palette, default: 135 (lblue)
atlSplit2Color = 125         ; taken from gp2's color palette, default: 125 (blue)
atlLineColor = 151           ; taken from gp2's color palette, default: 151 (dblue)
atlAcrossTop = 1             ; show info across the top of the screen
atlMarkTopX = 3              ; how many cars to mark on the laptime board, range is 3..9


[Extended Data Logging]
logGLX = 1                   ; save an additional .GLx log file upon saving a game
logCC = 1                    ; log computer cars too; this is only saved in .GLx files!
logPerf = 1                  ; log extra perf data and append to perf files


[Debug Logging]
logDebug = 1                 ; log debug output to log file
logDebugName = "gp2lap.log"  ; debug log file name
logDebugFlush = 0            ; direct flushing of debug log, use only when gp2lap crashes
logDebugScreenLines = 12     ; number of lines for the screen log (page '2'), range is 3..20


[Track Map]
mapZoom = 5                  ; zoom level 0..5 (toggle with TAB in-game)
mapTrackColor = 45            ; which color for the track to start with (gp2 palette index)
mapHAlign = 2                ; 0 = left, 1 = center, 2 = right (toggle with '8' in-game)
mapVAlign = 0                ; 0 = top, 1 = center, 3 = bottom. Relative to mapMaxY.
mapRotate = 0                ; 0 = disable rotation of map (toggle with 'm' in-game)
mapMaxY = 194                ; y clipping (max. DrawLines, see below, 400 is practical).
                             ; VGA will use half this value.
mapDotSize = 122358          ; Dot sizes of cars at each of 6 zoom levels. Default 122358, min. 111111, max. 999999.
mapDotSizeVGA = 111235       ; Same as mapDotSize, but for VGA. Default 111235.


[Track Files]
f1ct01 = "circuits\f1ct01.dat"     ; Note: relative to your GP2 directory;
f1ct02 = "circuits\f1ct02.dat"     ;       currently not supporting long filenames
f1ct03 = "circuits\f1ct03.dat"
f1ct04 = "circuits\f1ct04.dat"
f1ct05 = "circuits\f1ct05.dat"
f1ct06 = "circuits\f1ct06.dat"
f1ct07 = "circuits\f1ct07.dat"
f1ct08 = "circuits\f1ct08.dat"
f1ct09 = "circuits\f1ct09.dat"
f1ct10 = "circuits\f1ct10.dat"
f1ct11 = "circuits\f1ct11.dat"
f1ct12 = "circuits\f1ct12.dat"
f1ct13 = "circuits\f1ct13.dat"
f1ct14 = "circuits\f1ct14.dat"
f1ct15 = "circuits\f1ct15.dat"
f1ct16 = "circuits\f1ct16.dat"
CatchTrackInfos = 1          ; try catching GP2INFO's from custom track files
CatchSplitSegs = 1           ; try catching new splits from custom track files
MenuTrackMap = 0             ; draw a simple track map layout in the track selection menu (replaces bitmap).


[Network]
UseIPXLink = 0
MyLinkName = "YourName Here"
UseOldNetworkCode = 0        ; switch on to use the old ipx routines


[Misc]
SplitsInRace = 1             ; show split times during race
CarRemoveTime = 10000        ; in msecs; default 20 seconds
UseLocalizedStrings = 1      ; set to 0 to make all GP2Lap message strings English
Spa98 = 0                    ; simulate the start of the Belgium '98 GP; use with caution :)
;CockpitZoom = 256            ; zoom for cockpit view, default is 256, range is 64..7936
DrawLines = 194              ; how many lines to draw, default is 194, range is 0..479
                             ; Note: The more lines you choose the more PO you'll get, depending on the speed of your PC.

[HOF2.5]
hof25Enable = 0              ; enable special HOF2.5 features


[Other]
ForcePMBanking = 1           ; switch on if you have VESA VBE 2.0 or higher


[Rcr]
;VgaRcr1 = 9999000   ; 0x0850    ; how far away an rcr-jam will be used if you're looking from within the cockpit.
;SvgaRcr1 = 9999000  ; 0x0C80
;VgaRcr2 = 9999000   ; 0x0850    ; how far away an rcr-jam will be used if you're looking through a onboard camera.
;SvgaRcr2 = 9999000  ; 0x0C80    ;   (the one used within Paul's car editor)
;VgaRcr3 = 9999000   ; 0x0A50    ; how far away an rcr-jam will be used if you're looking through the on track camera's
;SvgaRcr3 = 9999000  ; 0x1000    ;   or if you're looking in front or back of the car (delete and page down).


;--- Some color info:
;  0		transparent
;  1- 31	black -> white
; 32- 47	red
; 48- 63	yellow
;124-143	blue
;144-163	dark blue
;194-212	dark green
;214-233	green

; -----------------------------------------------------------------------------
; F1 HUD custom data. It is read once when GP2LAP starts.
; Set F1UseCustomData to 0 to use the compiled default data.
; TeamLogo 1 uses the built-in emblem. TeamLogo 0 shows only the team colour.
[F1 Advanced]
MicrosectorsEnabled = 1

[F1 HUD]
F1UseCustomData = 1
F1Season = "2025"

[F1 Teams]
Team01Name = "RED BULL"
Team01Color = "#1565C0"
Team01Logo = 1
Team01LogoFile = ""

Team02Name = "MCLAREN"
Team02Color = "#FF8000"
Team02Logo = 1
Team02LogoFile = ""

Team03Name = "FERRARI"
Team03Color = "#A8001B"
Team03Logo = 1
Team03LogoFile = ""

Team04Name = "MERCEDES"
Team04Color = "#00D2BE"
Team04Logo = 1
Team04LogoFile = ""

Team05Name = "ASTON MARTIN"
Team05Color = "#006F62"
Team05Logo = 1
Team05LogoFile = ""

Team06Name = "RACING BULLS"
Team06Color = "#0033A0"
Team06Logo = 1
Team06LogoFile = ""

Team07Name = "AUDI"
Team07Color = "#ff4000"
Team07Logo = 1
Team07LogoFile = ""

Team08Name = "ALPINE"
Team08Color = "#07a9f7"
Team08Logo = 1
Team08LogoFile = ""

Team09Name = "WILLIAMS"
Team09Color = "#0043e0"
Team09Logo = 1
Team09LogoFile = ""

Team10Name = "HAAS"
Team10Color = "#B6BABD"
Team10Logo = 1
Team10LogoFile = ""

Team11Name = "CADILLAC"
Team11Color = "#787878"
Team11Logo = 1
Team11LogoFile = ""

Team12Name = "GULF F1"
Team12Color = "#fe9116"
Team12Logo = 1
Team12LogoFile = ""

Team13Name = "TOTAL F1"
Team13Color = "#9bff80"
Team13Logo = 1
Team13LogoFile = ""

[F1 Drivers]
Driver01CarId = 33
Driver01First = "George"
Driver01Last = "RUSSELL"
Driver01Abbr = "RUS"
Driver01Number = 63
Driver01Team = 4

Driver02CarId = 12
Driver02First = "Kimi"
Driver02Last = "ANTONELLI"
Driver02Abbr = "ANT"
Driver02Number = 12
Driver02Team = 4

Driver03CarId = 26
Driver03First = "Lewis"
Driver03Last = "HAMILTON"
Driver03Abbr = "HAM"
Driver03Number = 44
Driver03Team = 3

Driver04CarId = 16
Driver04First = "Charles"
Driver04Last = "LECLERC"
Driver04Abbr = "LEC"
Driver04Number = 16
Driver04Team = 3

Driver05CarId = 36
Driver05First = "Max"
Driver05Last = "VERSTAPPEN"
Driver05Abbr = "VER"
Driver05Number = 3
Driver05Team = 1

Driver06CarId = 11
Driver06First = "Isack"
Driver06Last = "HADJAR"
Driver06Abbr = "HAD"
Driver06Number = 6
Driver06Team = 1

Driver07CarId = 14
Driver07First = "Fernando"
Driver07Last = "ALONSO"
Driver07Abbr = "ALO"
Driver07Number = 14
Driver07Team = 5

Driver08CarId = 18
Driver08First = "Lance"
Driver08Last = "STROLL"
Driver08Abbr = "STR"
Driver08Number = 18
Driver08Team = 5

Driver09CarId = 31
Driver09First = "Esteban"
Driver09Last = "OCON"
Driver09Abbr = "OCO"
Driver09Number = 31
Driver09Team = 10

Driver10CarId = 38
Driver10First = "Oliver"
Driver10Last = "BEARMAN"
Driver10Abbr = "BEA"
Driver10Number = 87
Driver10Team = 10

Driver11CarId = 13
Driver11First = "Oscar"
Driver11Last = "PIASTRI"
Driver11Abbr = "PIA"
Driver11Number = 81
Driver11Team = 2

Driver12CarId = 28
Driver12First = "Lando"
Driver12Last = "NORRIS"
Driver12Abbr = "NOR"
Driver12Number = 1
Driver12Team = 2

Driver13CarId = 10
Driver13First = "Pierre"
Driver13Last = "GASLY"
Driver13Abbr = "GAS"
Driver13Number = 10
Driver13Team = 8

Driver14CarId = 34
Driver14First = "Franco"
Driver14Last = "COLAPINTO"
Driver14Abbr = "COL"
Driver14Number = 43
Driver14Team = 8

Driver15CarId = 27
Driver15First = "Nico"
Driver15Last = "HULKENBERG"
Driver15Abbr = "HUL"
Driver15Number = 27
Driver15Team = 7

Driver16CarId = 15
Driver16First = "Gabriel"
Driver16Last = "BORTOLETO"
Driver16Abbr = "BOR"
Driver16Number = 5
Driver16Team = 7

Driver17CarId = 30
Driver17First = "Liam"
Driver17Last = "LAWSON"
Driver17Abbr = "LAW"
Driver17Number = 30
Driver17Team = 6

Driver18CarId = 22
Driver18First = "Arvid"
Driver18Last = "LINDBLAD"
Driver18Abbr = "LIN"
Driver18Number = 41
Driver18Team = 6

Driver19CarId = 23
Driver19First = "Alexander"
Driver19Last = "ALBON"
Driver19Abbr = "ALB"
Driver19Number = 23
Driver19Team = 9

Driver20CarId = 35
Driver20First = "Carlos"
Driver20Last = "SAINZ"
Driver20Abbr = "SAI"
Driver20Number = 55
Driver20Team = 9

Driver21CarId = 19
Driver21First = "Sergio"
Driver21Last = "PEREZ"
Driver21Abbr = "PER"
Driver21Number = 11
Driver21Team = 11

Driver22CarId = 21
Driver22First = "Valteri"
Driver22Last = "BOTTAS"
Driver22Abbr = "BOT"
Driver22Number = 77
Driver22Team = 11

Driver23CarId = 29
Driver23First = "Paul"
Driver23Last = "ARON"
Driver23Abbr = "ARO"
Driver23Number = 17
Driver23Team = 12

Driver24CarId = 25
Driver24First = "Jack"
Driver24Last = "DOOHAN"
Driver24Abbr = "DOO"
Driver24Number = 7
Driver24Team = 12

Driver25CarId = 20
Driver25First = "Mick"
Driver25Last = "SCHUMACHER"
Driver25Abbr = "SCH"
Driver25Number = 94
Driver25Team = 13

Driver26CarId = 24
Driver26First = "Felipe"
Driver26Last = "DRUGOVICH"
Driver26Abbr = "DRU"
Driver26Number = 19
Driver26Team = 13

[F1 Controls]
; Legacy master: hides both camera captions when set to 1
HideCameraCaption = 0
HideRidingCaption = 0
HideViewingCaption = 0
HideRetirementCaption = 0
HideRaceWinnerCaption = 0
HidePitCaption = 0
HidePauseCaption = 0
; Original Fastest Lap text is always hidden; HUD designs remain enabled
FuelDrainEnabled = 1
FuelDrainMilliseconds = 3000
FuelDrainCarIds = "24,20,29,25"
; HUD graphics: 0 = modern F1, 1 = 1990s broadcast
HudTheme = 1