[F1 Race Tower]
; Gaps begin after each driver's first completed lap.
; Timing: 30 points, publish every 3 points, average the last 6.
PositionChangeTime = 1000

[At The Line]
atlNoFastestLap = 0          ; don't show "Fastest Lap by...." if active
atlSplit1Color = 135         ; taken from gp2's color palette, default: 135 (lblue)
atlSplit2Color = 125         ; taken from gp2's color palette, default: 125 (blue)
atlLineColor = 151           ; taken from gp2's color palette, default: 151 (dblue)
atlAcrossTop = 1             ; show info across the top of the screen
atlMarkTopX = 3              ; how many cars to mark on the laptime board, range is 3..9


[Extended Data Logging]
logGLX = 1                   ; save an additional .GLx log file upon saving a game
logCC = 1                    ; log computer cars too; this is only saved in .GLx files!
logPerf = 1                  ; log extra perf data and append to perf files


[Debug Logging]
logDebug = 1                 ; log debug output to log file
logDebugName = "gp2lap.log"  ; debug log file name
logDebugFlush = 0            ; direct flushing of debug log, use only when gp2lap crashes
logDebugScreenLines = 12     ; number of lines for the screen log (page '2'), range is 3..20


[Track Map]
mapZoom = 5                  ; zoom level 0..5 (toggle with TAB in-game)
mapTrackColor = 45            ; which color for the track to start with (gp2 palette index)
mapHAlign = 2                ; 0 = left, 1 = center, 2 = right (toggle with '8' in-game)
mapVAlign = 0                ; 0 = top, 1 = center, 3 = bottom. Relative to mapMaxY.
mapRotate = 0                ; 0 = disable rotation of map (toggle with 'm' in-game)
mapMaxY = 194                ; y clipping (max. DrawLines, see below, 400 is practical).
                             ; VGA will use half this value.
mapDotSize = 122358          ; Dot sizes of cars at each of 6 zoom levels. Default 122358, min. 111111, max. 999999.
mapDotSizeVGA = 111235       ; Same as mapDotSize, but for VGA. Default 111235.


[Track Files]
f1ct01 = "circuits\f1ct01.dat"     ; Note: relative to your GP2 directory;
f1ct02 = "circuits\f1ct02.dat"     ;       currently not supporting long filenames
f1ct03 = "circuits\f1ct03.dat"
f1ct04 = "circuits\f1ct04.dat"
f1ct05 = "circuits\f1ct05.dat"
f1ct06 = "circuits\f1ct06.dat"
f1ct07 = "circuits\f1ct07.dat"
f1ct08 = "circuits\f1ct08.dat"
f1ct09 = "circuits\f1ct09.dat"
f1ct10 = "circuits\f1ct10.dat"
f1ct11 = "circuits\f1ct11.dat"
f1ct12 = "circuits\f1ct12.dat"
f1ct13 = "circuits\f1ct13.dat"
f1ct14 = "circuits\f1ct14.dat"
f1ct15 = "circuits\f1ct15.dat"
f1ct16 = "circuits\f1ct16.dat"
CatchTrackInfos = 1          ; try catching GP2INFO's from custom track files
CatchSplitSegs = 1           ; try catching new splits from custom track files
MenuTrackMap = 0             ; draw a simple track map layout in the track selection menu (replaces bitmap).


[Network]
UseIPXLink = 0
MyLinkName = "YourName Here"
UseOldNetworkCode = 0        ; switch on to use the old ipx routines


[Misc]
SplitsInRace = 1             ; show split times during race
CarRemoveTime = 10000        ; in msecs; default 20 seconds
UseLocalizedStrings = 1      ; set to 0 to make all GP2Lap message strings English
Spa98 = 0                    ; simulate the start of the Belgium '98 GP; use with caution :)
;CockpitZoom = 256            ; zoom for cockpit view, default is 256, range is 64..7936
DrawLines = 194              ; how many lines to draw, default is 194, range is 0..479
                             ; Note: The more lines you choose the more PO you'll get, depending on the speed of your PC.

[HOF2.5]
hof25Enable = 0              ; enable special HOF2.5 features


[Other]
ForcePMBanking = 1           ; switch on if you have VESA VBE 2.0 or higher


[Rcr]
;VgaRcr1 = 9999000   ; 0x0850    ; how far away an rcr-jam will be used if you're looking from within the cockpit.
;SvgaRcr1 = 9999000  ; 0x0C80
;VgaRcr2 = 9999000   ; 0x0850    ; how far away an rcr-jam will be used if you're looking through a onboard camera.
;SvgaRcr2 = 9999000  ; 0x0C80    ;   (the one used within Paul's car editor)
;VgaRcr3 = 9999000   ; 0x0A50    ; how far away an rcr-jam will be used if you're looking through the on track camera's
;SvgaRcr3 = 9999000  ; 0x1000    ;   or if you're looking in front or back of the car (delete and page down).


;--- Some color info:
;  0		transparent
;  1- 31	black -> white
; 32- 47	red
; 48- 63	yellow
;124-143	blue
;144-163	dark blue
;194-212	dark green
;214-233	green

; -----------------------------------------------------------------------------
; F1 HUD custom data. It is read once when GP2LAP starts.
; Set F1UseCustomData to 0 to use the compiled default data.
; TeamLogo 1 uses the built-in emblem. TeamLogo 0 shows only the team colour.
[F1 HUD]
F1UseCustomData = 1

[F1 Teams]
Team01Name = "RED BULL"
Team01Color = "#1565C0"
Team01Mark = "RB"
Team01Logo = 1

Team02Name = "MCLAREN"
Team02Color = "#FF8000"
Team02Mark = "MC"
Team02Logo = 1

Team03Name = "FERRARI"
Team03Color = "#A8001B"
Team03Mark = "FE"
Team03Logo = 1

Team04Name = "MERCEDES"
Team04Color = "#00D2BE"
Team04Mark = "ME"
Team04Logo = 1

Team05Name = "ASTON MARTIN"
Team05Color = "#006F62"
Team05Mark = "AM"
Team05Logo = 1

Team06Name = "RACING BULLS"
Team06Color = "#0033A0"
Team06Mark = "VC"
Team06Logo = 1

Team07Name = "AUDI"
Team07Color = "#ff4000"
Team07Mark = "SA"
Team07Logo = 1

Team08Name = "ALPINE"
Team08Color = "#07a9f7"
Team08Mark = "AL"
Team08Logo = 1

Team09Name = "WILLIAMS"
Team09Color = "#0043e0"
Team09Mark = "WI"
Team09Logo = 1

Team10Name = "HAAS"
Team10Color = "#B6BABD"
Team10Mark = "HA"
Team10Logo = 1

Team11Name = "CADILLAC"
Team11Color = "#787878"
Team11Mark = "CA"
Team11Logo = 1

Team12Name = "GULF NISSAN"
Team12Color = "#fe9116"
Team12Mark = "TM"
Team12Logo = 1

Team13Name = "PEUGEOT"
Team13Color = "#9bff80"
Team13Mark = "TM"
Team13Logo = 1

[F1 Drivers]
; CarId is GP2 internal car id (1 to 40). It must be unique. Team is 1 to 13.
Driver01CarId = 36
Driver01First = "Max"
Driver01Last = "VERSTAPPEN"
Driver01Abbr = "VER"
Driver01Number = 3
Driver01Team = 1

Driver02CarId = 11
Driver02First = "Isack"
Driver02Last = "HADJAR"
Driver02Abbr = "HAD"
Driver02Number = 6
Driver02Team = 1

Driver03CarId = 28
Driver03First = "Lando"
Driver03Last = "NORRIS"
Driver03Abbr = "NOR"
Driver03Number = 1
Driver03Team = 2

Driver04CarId = 13
Driver04First = "Oscar"
Driver04Last = "PIASTRI"
Driver04Abbr = "PIA"
Driver04Number = 81
Driver04Team = 2

Driver05CarId = 26
Driver05First = "Lewis"
Driver05Last = "HAMILTON"
Driver05Abbr = "HAM"
Driver05Number = 44
Driver05Team = 3

Driver06CarId = 16
Driver06First = "Charles"
Driver06Last = "LECLERC"
Driver06Abbr = "LEC"
Driver06Number = 16
Driver06Team = 3

Driver07CarId = 33
Driver07First = "George"
Driver07Last = "RUSSELL"
Driver07Abbr = "RUS"
Driver07Number = 63
Driver07Team = 4

Driver08CarId = 12
Driver08First = "Kimi"
Driver08Last = "ANTONELLI"
Driver08Abbr = "ANT"
Driver08Number = 12
Driver08Team = 4

Driver09CarId = 14
Driver09First = "Fernando"
Driver09Last = "ALONSO"
Driver09Abbr = "ALO"
Driver09Number = 14
Driver09Team = 5

Driver10CarId = 18
Driver10First = "Lance"
Driver10Last = "STROLL"
Driver10Abbr = "STR"
Driver10Number = 18
Driver10Team = 5

Driver11CarId = 22
Driver11First = "Arvid"
Driver11Last = "LINDBLAD"
Driver11Abbr = "LIN"
Driver11Number = 41
Driver11Team = 6

Driver12CarId = 30
Driver12First = "Liam"
Driver12Last = "LAWSON"
Driver12Abbr = "LAW"
Driver12Number = 30
Driver12Team = 6

Driver13CarId = 15
Driver13First = "Gabriel"
Driver13Last = "BORTOLETO"
Driver13Abbr = "BOR"
Driver13Number = 5
Driver13Team = 7

Driver14CarId = 27
Driver14First = "Nico"
Driver14Last = "HULKENBERG"
Driver14Abbr = "HUL"
Driver14Number = 27
Driver14Team = 7

Driver15CarId = 10
Driver15First = "Pierre"
Driver15Last = "GASLY"
Driver15Abbr = "GAS"
Driver15Number = 10
Driver15Team = 8

Driver16CarId = 34
Driver16First = "Franco"
Driver16Last = "COLAPINTO"
Driver16Abbr = "COL"
Driver16Number = 43
Driver16Team = 8

Driver17CarId = 23
Driver17First = "Alex"
Driver17Last = "ALBON"
Driver17Abbr = "ALB"
Driver17Number = 23
Driver17Team = 9

Driver18CarId = 35
Driver18First = "Carlos"
Driver18Last = "SAINZ"
Driver18Abbr = "SAI"
Driver18Number = 55
Driver18Team = 9

Driver19CarId = 31
Driver19First = "Esteban"
Driver19Last = "OCON"
Driver19Abbr = "OCO"
Driver19Number = 31
Driver19Team = 10

Driver20CarId = 38
Driver20First = "Oliver"
Driver20Last = "BEARMAN"
Driver20Abbr = "BEA"
Driver20Number = 87
Driver20Team = 10

Driver21CarId = 29
Driver21First = "Paul"
Driver21Last = "ARON"
Driver21Abbr = "ARO"
Driver21Number = 17
Driver21Team = 12

Driver22CarId = 25
Driver22First = "Jack"
Driver22Last = "DOOHAN"
Driver22Abbr = "DOO"
Driver22Number = 7
Driver22Team = 12

Driver23CarId = 19
Driver23First = "Sergio"
Driver23Last = "PEREZ"
Driver23Abbr = "PER"
Driver23Number = 11
Driver23Team = 11

Driver24CarId = 21
Driver24First = "Valtteri"
Driver24Last = "BOTTAS"
Driver24Abbr = "BOT"
Driver24Number = 77
Driver24Team = 11

Driver25CarId = 20
Driver25First = "Mick"
Driver25Last = "SCHUMACHER"
Driver25Abbr = "SCH"
Driver25Number = 94
Driver25Team = 13

Driver26CarId = 24
Driver26First = "Felipe"
Driver26Last = "DRUGOVICH"
Driver26Abbr = "DRU"
Driver26Number = 19
Driver26Team = 13

[F1 Controls]
; Applied after restarting GP2Lap/GP2.
HideCameraCaption = 0
HideRetirementCaption = 0
; Select CarIds in the editor and press 7 during live driving.
FuelDrainEnabled = 0
FuelDrainMilliseconds = 3000
FuelDrainCarIds = ""
; HUD graphics: 0 = modern F1, 1 = 1990s broadcast (Futura). Applied at start.
; 90s theme, TV view, race: key 5 = plate / DIFFERENCE / off.
HudTheme = 0

; Key 4: three sectors / thirty microsectors / off
[F1 Advanced]
MicrosectorsEnabled = 1
